fastapi==0.110.0
uvicorn[standard]==0.27.1
psutil==5.9.8
numpy==1.26.4
nibabel==5.1.0
scikit-image==0.22.0
numpy-stl==3.0.0
torch==2.2.1
pydicom==2.4.4
dicom2nifti==2.4.10
TotalSegmentator==2.3.3
cupy-cuda12x==13.0.0
vtk==9.3.0
pymeshlab==2023.12
