fastapi==0.118.0
uvicorn[standard]==0.37.0
python-multipart==0.0.20
pydantic==2.11.9
python-dotenv==1.1.1
SQLAlchemy==2.0.43
PyJWT==2.10.1
bcrypt==4.3.0
httpx==0.27.2
python-dateutil==2.9.0.post0
PyMySQL==1.1.2
email-validator==2.3.0
torch==2.8.0            # ya incluye CUDA 12.x según tu pip list
torchvision==0.23.0
triton==3.4.0
TotalSegmentator==2.11.0
numpy==2.3.3
scipy==1.16.2
scikit-image==0.24.0
nibabel==5.3.2
pydicom==3.0.1
dicom2nifti==2.6.2
python-gdcm==3.2.1
pylibjpeg==2.1.0
pylibjpeg-libjpeg==2.2.0
pylibjpeg-openjpeg==2.3.0
SimpleITK==2.5.2
trimesh==3.23.5
numpy-stl==3.2.0
pyradiomics @ git+https://github.com/AIM-Harvard/pyradiomics.git@8ed579383b44806651c463d5e691f3b2b57522ab
pykwalify==1.8.0
ruamel.yaml==0.18.15
ruamel.yaml.clib==0.2.14
docopt==0.6.2
six==1.17.0
pandas==2.3.3
pillow==11.3.0
matplotlib==3.10.6
seaborn==0.13.2
tqdm==4.67.1
requests==2.32.5
uvloop==0.21.0
httptools==0.6.4
websockets==15.0.1
watchfiles==1.1.0
