# --- Web/API ---
fastapi==0.110.0
uvicorn[standard]==0.27.1
python-multipart==0.0.20
python-dotenv==1.0.1

# --- Sistema / utilidades ---
psutil==5.9.8

# --- NumPy stack (evita NumPy 2.x) ---
numpy==1.26.4
nibabel==5.1.0
scikit-image==0.22.0

# --- STL / mallas ---
numpy-stl==3.0.0
vtk==9.3.0
pymeshlab==2023.12

# --- DICOM ---
pydicom==2.4.4
dicom2nifti==2.4.10

# --- Segmentación ---
TotalSegmentator==2.11.0


boto3